.App {

}

.todo-listing{
border: 2px solid purple;
margin: 20px auto 20px auto;
width:500px;
padding: 40px;

}

.done-listing{
border: 2px solid goldenrod;
margin: 20px auto 20px auto;
width:500px;
padding: 40px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
}
.list-title{
  border: 2px solid purple;
  margin: 20px auto 20px auto;
  text-align: center;
  border-radius: 7px;
  padding: 5px;

}
.input{
    border:0px;
    border-bottom:3px solid purple;
    margin:10px;
    text-align: center;
}
.list{
border:2px solid saddlebrown;
margin:10px;
border-radius: 6px;
padding: 10px;
text-align: center;
}
btn{
    float: right;
    margin-left: 40px;
}
.todo-title{
  text-align: center;
  width: auto;
  border: 2px solid goldenrod;
  border-radius: 7px;
}
